<article class="product-card">
  <img
    [src]="product?.images[0]"
    [alt]="product?.name"
    loading="lazy"
    width="64"
    height="48"
  />
  <div class="product-info">
    <p class="product-name">{{ product?.name }}</p>
    <app-star-rating-view [rating]="ratingCount" starSize="14px" color="#f5c518"></app-star-rating-view>
    <div class="product-price">
      <span>{{ (product | productPrice : "salePrice" : selectedVariationList?._id) | currencyCtr }}</span>
      @if ((product | productPrice : "discountAmount" : selectedVariationList?._id) > 0) {
        <span
          class="old-price">{{ (product | productPrice : "regularPrice" : selectedVariationList?._id) | currencyCtr }}</span>
      }
    </div>
  </div>
</article>
