.footer-xl-container {
  display: block;
}

.bottom-nav-component {
  display: none;
}


@media only screen and (max-width: 599px) {
  .bottom-nav-component {
    display: block;
  }

  .footer-xl-container {
    display: none;
  }
}
