<div></div>
<!--<div class="faq-area" *ngIf="singleLandingPage?.reviews?.length" [ngStyle]="{ 'background-color': singleLandingPage?.backgroundColor,'color': singleLandingPage?.textColor ? singleLandingPage?.textColor : 'black' }">-->
<div class="faq-area" *ngIf="singleLandingPage?.reviews?.length" >
  <div class="container">
    @if(singleLandingPage?.reviewTitle){
      <h5 class="text-color" [innerHTML]="singleLandingPage?.reviewTitle"></h5>
    } @else {
      <h5 class="text-color">🛍️ আপনার সুযোগ এসেছে—পরবর্তী সন্তুষ্ট কাস্টমার ও ভাগ্যবান উইনার হোন!</h5>
      <h2  class="title">আপনি হবেন পরবর্তী বিজয়ী ইনশাল্লাহ</h2>
    }

    <div class="review-grid">
      <app-swiper
        [visibleSlides]="2"
        [gap]="20"
        [navigation]="false"
        [pagination]="true"
        [loop]="false"
        [autoplay]="true"
        [breakpoints]="breakpoints">
        @for (data of singleLandingPage?.reviews; track data) {
      <div #sliderItem class="review-card" >
        <img [src]="data.image" alt="Reviewer" class="avatar" />
<!--        <div>-->
<!--          &lt;!&ndash; Loop to create filled stars based on data.rating &ndash;&gt;-->
<!--          <ng-container *ngFor="let star of [].constructor(data?.rating); let i = index">-->
<!--            <span class="star filled">&#9733;</span> &lt;!&ndash; Filled star &ndash;&gt;-->
<!--          </ng-container>-->

<!--          &lt;!&ndash; Loop to create empty stars for the remaining rating &ndash;&gt;-->
<!--          <ng-container *ngFor="let star of [].constructor(5 - data?.rating); let i = index">-->
<!--            <span class="star empty">&#9734;</span> &lt;!&ndash; Empty star &ndash;&gt;-->
<!--          </ng-container>-->
<!--        </div>-->
<!--        <p class="message">{{ data.review }}</p>-->
<!--        <h4 class="name">{{ data.name }}</h4>-->
      </div>
        }
      </app-swiper>
    </div>

<!--    <div class="btn-area">-->
<!--      <button class="order-button" (click)="onScrollWithNavigate('payment')">-->
<!--        {{ 'placeOrder'  | translate }}-->
<!--        <svg-->
<!--          data-v-e8d572f6=""-->
<!--          xmlns="http://www.w3.org/2000/svg"-->
<!--          xmlns:xlink="http://www.w3.org/1999/xlink"-->
<!--          aria-hidden="true"-->
<!--          role="img"-->
<!--          class="icon mr-2"-->
<!--          width=".8em"-->
<!--          height=".8em"-->
<!--          viewBox="0 0 24 24"-->
<!--        >-->
<!--          <path-->
<!--            fill="currentColor"-->
<!--            fill-rule="evenodd"-->
<!--            d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10M9.75 9a.75.75 0 0 1 .75-.75H15a.75.75 0 0 1 .75.75v4.5a.75.75 0 0 1-1.5 0v-2.69l-4.72 4.72a.75.75 0 0 1-1.06-1.06l4.72-4.72H10.5A.75.75 0 0 1 9.75 9"-->
<!--            clip-rule="evenodd"-->
<!--          ></path>-->
<!--        </svg>-->
<!--      </button>-->
<!--    </div>-->
  </div>
</div>
