<div class="countdown">
  <div class="countdown-item">
    <p class="number">{{ days <=0 ? "00" : days }}</p>
    <p class="label">Days</p>
  </div>
  <div class="countdown-item">
    <p class="number">{{ hours <=0 ? "00" : hours }}</p>
    <p class="label">Hr</p>
  </div>
  <div class="countdown-item">
    <p class="number">{{ min <=0 ? "00" : min }}</p>
    <p class="label">Min</p>
  </div>
  <div class="countdown-item">
    <p class="number">{{ sec <=0 ? "00" : sec }}</p>
    <p class="label">Sc</p>
  </div>
</div>
